<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iqcapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IQCAPPLICATION">
        <activity
            android:name=".Update.FunctionalActivity"
            android:theme="@style/Theme.IQCAPPLICATION1"
            android:exported="false" />
        <activity
            android:name=".TableFormforall"
            android:exported="false" />
        <activity
            android:name=".FunctionalActivity2"
            android:exported="true"
            android:theme="@style/Theme.IQCAPPLICATION1" />
        <activity
            android:name=".Update.DimensionActivity"
            android:exported="true"
            android:theme="@style/Theme.IQCAPPLICATION1" />
        <activity
            android:name=".Update.InspectionActivity"
            android:exported="true"
            android:theme="@style/Theme.IQCAPPLICATION1" />
        <activity
            android:name=".DimensionalActivity"
            android:exported="true"
            android:theme="@style/Theme.IQCAPPLICATION1"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Update.LotFormActivity"
            android:exported="true"
            android:theme="@style/Theme.IQCAPPLICATION1" />
        <activity
            android:name=".VisualInspection"
            android:exported="true"
            android:theme="@style/Theme.IQCAPPLICATION1" />
        <activity
            android:name=".SapmpleActivityinlot"
            android:exported="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.IQCAPPLICATION1" />
        <activity
            android:name=".add.InspectionDetailsActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.IQCAPPLICATION1" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.IQCAPPLICATION1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>