<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iqcsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".LotDetails"
        />

        <activity
            android:name=".InspectionDetails"

            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".APDefects"
            android:theme="@style/AppTheme.PopMe" />

        <activity
            android:name=".FCDefects"
            android:theme="@style/AppTheme.PopMe" />

        <activity
            android:name=".DMDefects"
            android:theme="@style/AppTheme.PopMe" />

        <activity
            android:name=".DimensionalCheck"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".AppearanceInspection"

            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".LotNumber"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />



        <activity
            android:name=".FunctionalCheck"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity android:name=".MainActivity"
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>